@font-face {
    font-family: Neue-Helvetica-Arabic;
    src: url(design/abjjad_fonts/NeueHelveticaArabic75Bold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Neue-Helvetica-Arabic;
    src: url(design/abjjad_fonts/NeueHelveticaArabic55Roman.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Neue-Helvetica-Arabic;
    src: url(design/abjjad_fonts/NeueHelveticaArabic45Light.ttf);
    font-weight: 100;
}

html{
    font-size: 16px;
}

body, html {
    margin: 0;
    padding: 0;
}

.form-pop-up {
    width: 100%;
    margin-top: 10rem;
}

.my-progress-bar {
    border: none;
    position: relative;
    height: 6.25rem;
}

.my-progress-bar .bar {
    border: none;
    background-color: #efddc2;
    width: 80%;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-progress-bar .bar.active {
    transition: width 2s;
    left: 10%;
    transform: translate(0, -50%);
    background-color: #cb8c34;
}
.my-progress-bar.progress-0 .bar.active {
    width: 0%;
}
.my-progress-bar.progress-50 .bar.active {
    width: 40%;
}
.my-progress-bar.progress-100 .bar.active {
    width: 80%;
}

.my-progress-bar .circle {
    border: 3px solid #cb8c34;
    background-color: #ffffff;
    width: 3.3125rem;
    height: 3.3125rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.my-progress-bar .circle.left {
    left: 10%;
    background-color: #cb8c34;
}

.my-progress-bar .circle.center {
    left: 50%;
}

.my-progress-bar .circle.right {
    left: 90%;
}

.my-progress-bar.progress-50 .circle.center,
.my-progress-bar.progress-100 .circle.center,
.my-progress-bar.progress-100 .circle.right{
    background-color: #cb8c34;
}

.section-info {
    padding: 5.375rem 4.125rem 7.8125rem;
    text-align: center;
}

.section-info .info {
    color: #4b4a4a;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 2.375rem;
    font-weight: 400;
    line-height: 4rem;
}

.section-info .info span {
    font-family: "Adobe Arabic", serif;
    font-weight: 400;
}

.section-info .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-info .feature {
    width: 50%;
    text-align: right;
    padding: 0 15px;
    box-sizing: border-box
}

.section-info .feature img {
    width: 3.75rem;
    height: auto;
    margin-left: 1.375rem;
    vertical-align: middle;
}

.section-info .feature span {
    color: #4b4a4a;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 5.375rem;
}

.section-form {
    background-color: #f0f0ef;
    padding: 5.1875rem 3.25rem 0;
}

form{
    display: flex;
    flex-wrap: wrap;
}
.form-control{
    width: 100%;
    text-align: right;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 11rem;
}


.form-control .label {
    border: none;
    cursor: pointer;
    display: inline-block;
    width: auto;
    box-sizing: border-box;
    padding: 0 1rem;
    color: #898787;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.625rem;
    vertical-align: middle;
    min-width: 22%;
    float: right;
}

.form-control img{
    width: 2.875rem;
    height: auto;
}

.form-control .dropdown {
    position: relative;
    display: inline-block;
    width: 77%;
    box-sizing: border-box;
    padding: 0 1rem 2rem;
    border-bottom: 3px solid #898787;
}


.form-control.invalid .dropdown{
    border-bottom-color: #ea0d0d;
}
.form-control.valid .dropdown{
    border-bottom-color: #0aea26;
}

.form-control.number{
    width: 100%;
    margin-bottom: 4.375rem;
}

.form-control.number .number-field{
    position: relative;
    box-sizing: border-box;
    padding: 0 1rem 1.625rem;
    border-bottom: 3px solid #898787;
    width: 49.375rem;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control.number .number-field input{
    color: #cb8c34;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 2.625rem;
    display: inline-block;
    height: 5.25rem;
    direction: ltr;
    padding: 0 0.625rem;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.form-control.number .number-field .prefix-number{
    direction: ltr;
    color: #898787;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height:  5.1875rem;
    display: inline-block;
}

.form-control.number .error-message{
    color: #ea0d0d;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 48rem;
    margin: 1.875rem 10rem 0 0;
    visibility: hidden;

}

.form-control.invalid.number .number-field {
    border-bottom-color: #ea0d0d;
}
.form-control.valid.number .number-field {
    border-bottom-color: #0aea26;
}
.form-control.invalid.number .error-message {
    visibility: visible;
}


.form-control .dropdown .selected-label{
    color: #cb8c34;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 4.0625rem;
    display: inline-block;
}

.form-control .dropdown img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.form-control .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    overflow: visible;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 4.3rem;
    left: 0;
}
.form-control .dropdown-content.show {
    display: block;
}

.form-control .dropdown-content .option {
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    color: #cb8c34;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    padding-bottom: 1.25rem;
    border: transparent 1px solid;

}

.form-control .dropdown-content .option:hover, .form-control .dropdown-content .option.selected {
    background-color: #ddd;
    border-color: #cb8c34;
}

.section-form form .title {
    text-align: center;
    color: #4b4a4a;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 5.3125rem;
    display: block;
    padding: 0;
    margin: 0 auto 7rem;
}

.section-form form .info {
    width: 100%;
    color: #898787;
    text-align: center;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.625rem;
    display: block;
    padding: 0;
    margin: 0 auto 1.25rem;
}

.section-form form .send-activation-code-btn {
    padding: 0 0 1rem;
    margin: 0 0 3.125rem;
    width: 100%;
    display: block;
    color: #ffffff;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 9.5625rem;
    text-align: center;
    border-radius: 15px;
    border: 5px solid #eed3a9;
    background: rgb(221, 173, 88); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(221, 173, 88) 50%, rgb(206, 156, 69) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(221, 173, 88) 50%, rgb(206, 156, 69) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(221, 173, 88) 50%, rgb(206, 156, 69) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddad58', endColorstr='#ce9c45', GradientType=0); /* IE6-9 */
}

.section-form .toggle-note-list-btn {
    color: #898787;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.625rem;
    text-align: center;
    padding-bottom: 25px;
}

.section-form .toggle-note-list-btn img {
    width: 2rem;
    height: auto;
    margin-right: 1rem;
    transition: transform 0.4s;
}
.section-form .toggle-note-list-btn img.up {
    transform: scaleY(-1);
}

.section-notes {
}

.section-notes .notes-list-container {
    padding: 6.8125rem 3.3125rem 7.8125rem;
    transition: all 2s;
    overflow: hidden;
}

.section-notes .title {
    color: #4b4a4a;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 2.625rem;
    margin: 0 0 5.3125rem;
    padding: 0 1rem;
    height: auto;
}

.section-notes .notes-list {
    list-style: disc outside url("images/list-dot.png");
}

.section-notes .notes-list .description {
    color: #4b4a4a;
    font-family: "Neue-Helvetica-Arabic", serif;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 4rem;
    padding-right: 2.3125rem;
}

.section-notes .notes-list .description:not(:last-of-type) {
    margin-bottom: 4.625rem;
}




@media (min-width: 911px) {
    .form-control.number .label {
        line-height: 3;
    }

    html{
        font-size: 14px;
    }
       .form-control .dropdown {
        width: 77%;
        padding-bottom: 0.95rem;
    }
  
    .form-control.number .number-field {
        width: 77%;
        padding-bottom: 1rem;
    }
    .form-control.number .number-field .prefix-number {
        font-size: 3.5rem;
        line-height: 4.1875rem;
    }
    .form-control.number .number-field input {
        font-size: 3.5rem;
        line-height: 2.625rem;
        height: 4.55rem;
    }

    .form-control .dropdown .selected-label {
        font-size: 2.7rem;
        line-height: 3rem;
    }
    .form-control .dropdown-content .option {
        font-size: 2.2rem;
    }

    .form-control.number .error-message {
        font-size: 1.875rem;
        line-height: 3rem;
    }
}

@media (max-width: 910px) {
    .form-control .label {
        padding-bottom: 1.5rem;
    }
    .form-control.number {
        margin-top: 2rem;
    }
    html{
        font-size: 12px;
    }
    .form-pop-up {
        margin-top: 7rem;
    }

    .form-control {
        margin-bottom: 2.5rem;
    }
    .form-control .dropdown {
        width:100%;
        padding-bottom: 0.95rem;
    }
    .form-control.number .number-field {
        width: 100%;
        padding-bottom: 1rem;
    }
    .form-control.number .number-field .prefix-number {
        font-size: 3.5rem;
        line-height: 4.1875rem;
    }
    .form-control.number .number-field input {
        font-size: 3.5rem;
        line-height: 2.625rem;
        height: 4.55rem;
    }

    .form-control .dropdown .selected-label {
        font-size: 2.7rem;
        line-height: 3rem;
    }
    .form-control .dropdown-content .option {
        font-size: 2.2rem;
    }

    .form-control.number .error-message {
        font-size: 1.875rem;
        line-height: 3rem;
    }
}

@media(max-width: 700px) {
    .section-info .feature {
        width: 100%;
        padding: 0 20% 0 0;
    }
    
    .section-info {
        padding: 0.375rem 2.0rem 7.8125rem;
    }
    
    .section-info .feature span {
        color: #4b4a4a;
        font-family: "Neue-Helvetica-Arabic", serif;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 5.375rem;
    }
    
}

@media (max-width: 639px) {

    html{
        font-size: 10px;
    }

    .section-info {
        padding: 0.375rem 2.0rem 4.8125rem;
    }
    .section-form {
        padding: 2.1875rem 3.25rem 0;
    }
    .form-pop-up {
        margin-top: 5rem;
    }

    .form-control.number {
        width: 100%;
        margin-bottom: 2.375rem;
        margin-top: 2rem;
    }
    .form-control .label {
        width: 100%;
        padding-bottom: 1.5rem;
    }
    .section-info {
        padding: 0.375rem 4.125rem 7.8125rem;
    }
    .section-form form .title {
        margin: 0 auto 3rem;
    }
    .form-control.number .error-message {
        margin-right: 0;
    }
    .section-form form .send-activation-code-btn {
        font-size: 3rem;
        line-height: 7.5625rem;
    }
    .section-form .toggle-note-list-btn {
        padding-bottom: 3rem;
    }
    .section-notes .notes-list-container {
        padding: 3.8125rem 3.3125rem 7.8125rem;
    }
    .section-notes .title {
        margin: 0 0 2.3125rem;
    }
    .section-notes .notes-list .description:not(:last-of-type) {
        margin-bottom: 1.625rem;
    }
    .section-notes .notes-list li{
        padding: 0!important;
    }
    .section-notes .notes-list{
        list-style: disc;
        padding-right: 2rem;
    }
   
}



@media (max-width: 435px) {

    .section-info .feature {
        padding: 0;
    }
    .form-control .dropdown,
    .form-control.number .number-field{
        width: 100%;
    }
    .form-control .dropdown .selected-label {
        font-size: 1.7rem;
    }
    .form-control img {
        width: 1.875rem;
    }
    .form-control .dropdown-content .option {
        font-size: 1.7rem;
    }
    .form-control.number .number-field .prefix-number {
        font-size: 2rem;
        line-height: 3rem;
    }
    .form-control.number .number-field input {
        font-size: 2rem;
        line-height: 3rem;
        height: 2.55rem;
    }
}

/*@media (max-width: 555px) {*/
    /*.form-control.number .number-field input{*/
        /*width: 60%;*/
    /*}*/
/*}*/
/*@media (max-width: 505px) {*/
    /*.form-control.number .number-field input{*/
        /*width: 55%;*/
    /*}*/
/*}*/
